@font-face {
  font-family: 'w95fa';
  src: url('w95fa-webfont.woff2') format('woff2'),
    url('w95fa-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #00a794;
}

.text {
  font-family: w95fa;
  color: white;
  font-size: 48px;
}

.smalltext {
  font-family: w95fa;
  color: white;
  font-size: 24px;
}

.top {
  background: url('Top.png');
  background-size: 100% 54px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 54px;
}

.bottom {
  background: url('Bottom.png');
  background-size: 100% 54px;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 54px;
}

.left {
  background: url('Left.png');
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 100%;
}

.right {
  background: url('Right.png');
  background-size: cover;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 12px;
  height: 100%;
}

.file {
  background: url('File.png');
  background-size: 100% 100%;
  position: fixed;
  top: 11px;
  left: 49px;
  width: 37px;
  height: 25px;
}

.edit {
  background: url('Edit.png');
  background-size: 100% 100%;
  position: fixed;
  top: 11px;
  left: 105px;
  width: 40px;
  height: 25px;
}

.view {
  background: url('View.png');
  background-size: 100% 100%;
  position: fixed;
  top: 11px;
  left: 165px;
  width: 55px;
  height: 25px;
}

.help {
  background: url('Help.png');
  background-size: 100% 100%;
  position: fixed;
  top: 11px;
  left: 240px;
  width: 50px;
  height: 26px;
}

.container {
  width: 704px;
}

.name {
  -webkit-appearance: none;
  appearance: none;
  width: 700px;
  height: 52px;
  background: url('name.png');
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
  opacity: 1;
}

.button {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 50px;
  background: url('Button.png');
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
}

.slidecontainer {
  width: 704px;
  font-family: w95fa;
  font-size: 48px;
  color: white;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 704px;
  height: 54px;
  top: 125px;
  left: 30px;
  position: absolute;
  background: url('Sliderback.png');
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 50px;
  background: url('slider.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 100px;
  height: 50px;
  background: url('slider.png');
  cursor: pointer;
}

.player1 {
  font-family: w95fa;
  font-size: 18px;
  background: url('name.png');
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  top: 100px;
  left: 0px;
  background-size: contain;
  height: 26px;
  width: 356px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
  opacity: 1;
}

.player2 {
  font-family: w95fa;
  font-size: 18px;
  background: url('name.png');
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  top: 175px;
  left: 0px;
  background-size: contain;
  height: 26px;
  width: 356px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
  opacity: 1;
}

.player3 {
  font-family: w95fa;
  font-size: 18px;
  background: url('name.png');
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  top: 250px;
  left: 0px;
  background-size: contain;
  height: 26px;
  width: 356px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
  opacity: 1;
}

.player4 {
  font-family: w95fa;
  font-size: 18px;
  background: url('name.png');
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  top: 325px;
  left: 0px;
  background-size: contain;
  height: 26px;
  width: 356px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
  opacity: 1;
}

.player5 {
  font-family: w95fa;
  font-size: 18px;
  background: url('name.png');
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  top: 100px;
  left: 400px;
  background-size: contain;
  height: 26px;
  width: 356px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
  opacity: 1;
}

.player6 {
  font-family: w95fa;
  font-size: 18px;
  background: url('name.png');
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  top: 175px;
  left: 400px;
  background-size: contain;
  height: 26px;
  width: 356px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
  opacity: 1;
}

.player7 {
  font-family: w95fa;
  font-size: 18px;
  background: url('name.png');
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  top: 250px;
  left: 400px;
  background-size: contain;
  height: 26px;
  width: 356px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
  opacity: 1;
}
