@font-face {
  font-family: 'w95fa';
  src: url('w95fa-webfont.woff2') format('woff2'),
    url('w95fa-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #00a794;
}

#nextbutton {
  display: none;
}

.check {
  width: 22.5px;
  height: 17.5px;
  background: url("Check.png");
  background-size: contain;
  position: absolute;
  display: none;
  border: none;
}

.x {
  width: 17.5px;
  height: 17.5px;
  background: url("X.png");
  background-size: contain;
  position: absolute;
  display: none;
  border: none;
}

.bet {
  text-align: center;
  display: none;
  font-family: w95fa;
  font-size: 18px;
  color: black;
  background: url('Name2.png');
  width: 54px;
  height: 26px;
  border: none;
  background-size: contain;
}

.score1 {
  display: none;
  position: absolute;
  font-family: w95fa;
  font-size: 24px;
  color: white;
  width: 40px;
  height: 26px;
}

.text {
  font-family: w95fa;
  color: white;
  font-size: 48px;
}

.smalltext {
  font-family: w95fa;
  color: white;
  font-size: 24px;
}

.top {
  background: url('Top.png');
  background-size: 100% 54px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 54px;
}

.bottom {
  background: url('Bottom.png');
  background-size: 100% 54px;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 54px;
}

.left {
  background: url('Left.png');
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 100%;
}

.right {
  background: url('Right.png');
  background-size: cover;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 12px;
  height: 100%;
}

.file {
  background: url('File.png');
  background-size: 100% 100%;
  position: fixed;
  top: 11px;
  left: 49px;
  width: 37px;
  height: 25px;
}

.edit {
  background: url('Edit.png');
  background-size: 100% 100%;
  position: fixed;
  top: 11px;
  left: 105px;
  width: 40px;
  height: 25px;
}

.view {
  background: url('View.png');
  background-size: 100% 100%;
  position: fixed;
  top: 11px;
  left: 165px;
  width: 55px;
  height: 25px;
}

.help {
  background: url('Help.png');
  background-size: 100% 100%;
  position: fixed;
  top: 11px;
  left: 240px;
  width: 50px;
  height: 26px;
}

.container {
  width: 704px;
}

.name {
  -webkit-appearance: none;
  appearance: none;
  width: 700px;
  height: 52px;
  background: url('name.png');
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
  opacity: 1;
}

.button {
  width: 100px;
  height: 50px;
  background: url('Button.png');
  border: none;
}

.slidecontainer {
  width: 704px;
  font-family: w95fa;
  font-size: 48px;
  color: white;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 704px;
  height: 54px;
  top: 125px;
  left: 30px;
  position: absolute;
  background: url('Sliderback.png');
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 50px;
  background: url('slider.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 100px;
  height: 50px;
  background: url('slider.png');
  cursor: pointer;
}

.player {
  display: block;
  font-family: w95fa;
  font-size: 18px;
  color: black;
  background: url('Name3.png');
  width: 108px;
  height: 25px;
  border: none;
  background-size: contain;
}

.name1 {
  position: absolute;
  font-family: w95fa;
  font-size: 24px;
  color: white;
  width: 108px;
  height: 26px;
}


.scoresheet {
  font-family: w95fa;
  font-size: 24px;
  position: absolute;
  top: 70px;
  left: 30px;
  color: white;
}

.names {
  text-align: left;
  font-family: w95fa;
  font-size: 24px;
  color: white;
  width: 150px;
  height: 36px;
}
.rounds {
  text-align: center;
  font-family: w95fa;
  font-size: 24px;
  color: white;
  width: 50px;
  height: 36px;
}

.boxcontainer {
  position: fixed;
  top:0px;
  left: 0px;
 background-size: 100%;
 width: 100%
}

.box1 {
  position: relative;
  float: left;
  top: 0px;
  left: 0px;
  margin: -5px;
  border: 10px solid black;
  background-color: white;
}

.box2 {
  position: relative;
  float: left;
  top: 0px;
  left:0px;
  margin: -5px;
  border: 10px solid black;
  background-color: red;
}

.box3 {
  position: relative;
  top:0px;
  left:0px;
  float: left;
  margin: -5px;
  border: 10px solid black;
  background-color: yellow;
}

.box4 {
  position: relative;
  top:0px;
  left:0px;
  float: left;
  margin: -5px;
  border: 10px solid black;
  background-color: blue;
}

.box5 {
  position: relative;
  top:0px;
  left:0px;
  float: left;
  margin: -5px;
  border: 10px solid black;
  background-color: #00a794;
}

.link {
  position: absolute;
  top:414px;
  left:505px;
  width:101px;
  height:62px;
  background: url("Link.png");
  background-size: cover;
}

.cont {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.lefty {
  display: flex;
  flex-flow: row;
  flex: 3;
}

.center {
  display: flex;
  flex-flow: row;
  flex: .5;
}

.righty {
  display: flex;
  flex-flow: row;
  flex: 2;
}

.top1 {
  background-color: white;
  flex: 1;
}

.top2 {
  background-color: yellow;
  flex: 1;
}

.top3 {
  background-color: cyan;
  flex: 1;
}

.top4 {
  background-color: lime;
  flex: 1;
}

.top5 {
  background-color: magenta;
  flex: 1;
}

.top6 {
  background-color: red;
  flex: 1;
}

.top7 {
  background-color: blue;
  flex: 1;
}

.middle1 {
  background-color: blue;
  flex: 1;
}

.middle2 {
  background-color: black;
  flex: 1;
}

.middle3 {
  background-color: magenta;
  flex: 1;
}

.middle4 {
  background-color: cyan;
  flex: 1;
}

.middle5 {
  background-color: white;
  flex: 1;
}

.bottom1 {
  background-color: navy;
  flex: 1;
}

.bottom2 {
  background-color: white;
  flex: 1;
}

.bottom3 {
  background-color: indigo;
  flex: 1;
}

.bottom4 {
  background-color: black;
  flex: 3;
}
